<div style="width: 100%; height:100%;">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline'"
         style="width: 100%; height:100%;">
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'left', splitter: true"
             style="width: 15%">
            <div data-dojo-attach-point="navigation" style="height: 100%"></div>
        </div>
        <div data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region:'center', tabStrip:true"
             data-dojo-attach-point="tabContainer">
            <div data-dojo-type="dijit/layout/ContentPane" title="Welcom" data-dojo-attach-point="welcomPane"
                 id="pane_Persons">
                <div data-dojo-attach-point='welcomGrid'></div>
            </div>
        </div>
    </div>
</div>